@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
}

body {
    margin: 0;
}

header {
    aspect-ratio: 1000/150;
    background-image: url(../svg/blob-scene-haikei.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin: 0;
    padding: 20px;
    color: #1f1f1f;
}

nav {
    z-index: 999;
    position: sticky;
    background-color: #f1f1f1;
    top: 0;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    padding: 5px;
}

.menuBtn.active {
    background-image: url(../svg/close_FILL0_wght400_GRAD0_opsz48.svg);
}

.menuBtn {
    width: 30px;
    height: 30px;
    background-image: url(../svg/menu_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    position: relative;
    border: 4px;
    overflow: hidden;
    z-index: 999;
    transition: .3s ease;
    display: none;
}

.menuBtn::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1f1f1f;
    z-index: -1;
    border-radius: 2px;
    transition: .3s ease;
}

.menuBtn:hover::before {
    width: 100%;
}

.homenav, .parkettanav, .villanynav, .lakatolasnav, .elerhetosegnav {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    color: #1f1f1f;
    position: relative;
    z-index: 999;
}

.homenav::before, .parkettanav::before, .villanynav::before, .lakatolasnav::before, .elerhetosegnav::before {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    border-radius: 3px;
    background-color: #1f1f1f;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s ease;
}

.homenav:hover::before, .parkettanav:hover::before, .villanynav:hover::before, .lakatolasnav:hover::before, .elerhetosegnav:hover::before {
    width: 100%;
}

.navmenu {
    display: none;
}

.navmenu.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.1);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navmenuitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 250px;
    background-color: #f1f1f1;
    border-radius: 9px;
    padding: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.homebtn ,.parkettabtn ,.villanybtn ,.lakatolasbtn ,.elerhetosegbtn {
    border: none;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #1f1f1f;
}

.homebtn::before ,.parkettabtn::before ,.villanybtn::before ,.lakatolasbtn::before ,.elerhetosegbtn::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: #1f1f1f;
    transition: .3s ease;
}

.homebtn:hover::before ,.parkettabtn:hover::before ,.villanybtn:hover::before ,.lakatolasbtn:hover::before ,.elerhetosegbtn:hover::before {
    width: 100%;
}

.testimg {
    width: 300px;
}

.bigcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container, .container2, .container3 {
    width: 300px;
}

.testimgfloat {
    width: 400px;
    float: left;
}

.bigcontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
    max-width: 850px;
    height: fit-content;
}

.kiegyenlitop {
    font-size: x-large;
}

.villany {
    background-color: #092d4d;
}

.transition {
    aspect-ratio: 1000/150;
    background-image: url(../svg/transition.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.villany {
    display: flex;
    justify-content: space-evenly;
    color: #f1f1f1;
}

.villanyh1, .szerelvenyh1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container5, .container6 {
    width: 400px;
}

.testimgwider {
    width: 400px;
}

.transition2 {
    aspect-ratio: 1000/150;
    background-image: url(../svg/transition2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lakatolas {
    background-color: #333333;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lakatolash1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lakatolasp {
    font-size: x-large;
    margin-bottom: 0;
}

.container7 {
    max-width: 850px;
}

.transition3 {
    aspect-ratio: 1000/150;
    background-image: url(../svg/transition3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elerhetoseg {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:920px) {
    .bigcontainer {
        flex-direction: column;
    }
    .container, .container2, .container3 {
        max-width: 850px;
        width: auto;
    }
    .testimg {
        float: left;
        width: 400px;
    }
    .parkettap, .javitasp, .laminaltp {
        font-size: x-large;
    }
    .container, .container2, .container3, .container4, .container5, .container6, .container7, .container8 {
        margin: 10px;
    }
    .villany {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container5, .container6 {
        max-width: 850px;
        width: auto;
    }
    .testimgwider {
        float: left;
    }
    .szerelvenyp, .villanyp {
        font-size: x-large;
    }
}  

@media (max-width:425px) {
    .menuBtn {
        display: block;
    }
    .homenav, .parkettanav, .villanynav, .lakatolasnav ,.elerhetosegnav {
        display: none;
    }
    .nav-items a {
        display: none;
    }
    .nav-items {
        justify-content: flex-end;
    }
    .testimg {
        width: 100vw;
    }
    .parkettap, .javitasp, .laminaltp, .kiegyenlitop{
        font-size: medium;
    }
    .testimgfloat {
        width: 100vw;
    }
    .villanyp {
        font-size: medium;
    }
    .testimgwider {
        width: 100vw;
    }
    .szerelvenyp {
        font-size: medium;
    }
    .lakatolasp {
        font-size: medium;
    }
    .container, .container2, .container3, .container4, .container5, .container6, .container7, .container8 {
        margin: 10px;
    }
    .testimg, .testimgwider, .testimgfloat {
        margin-left: 10px;
    }
}